<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyApiRule" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:5050/api/{R:1}" />
                </rule>
                <rule name="ReverseProxyFrontendRule" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{R:1}" pattern="^api/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:4500/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
